$color : blue;
$returncolor: white;
$searchcolor: rgb(13, 110, 253);
$hovercolor: #6595d8;

.searchform {
    text-align: center;
    margin: 200px;
    padding: 30px;
}

.return {
    text-align: right;
    color: $returncolor;
    margin: 15px;

    button {
        background-color: $searchcolor;
        border-color: transparent;
        border-radius: 5px;
    }

    button:hover {
        background-color: $hovercolor;
        color: white;
        transition: 0.25s;
    }
}

input[type="text"] {
    width: 500px;
    height: 30px;
    border-color: $searchcolor;
    border-radius: 5px;
}

input[type="text"]:enabled {
    border-color: $searchcolor;
}

input[type='submit'] {
    background-color: $searchcolor;
    border-color: transparent;
    border-radius: 5px;
    color: $returncolor;
}

input[type='submit']:hover {
    background-color: $hovercolor;
    color: white;
    transition: 0.25s;
}