$color : blue;

.searchform {
    text-align: center;
    margin: 200px;
    padding: 30px;
}

.return {
    text-align: right;
}

.searchbut {
    padding: 20px;
}

input[type="text"] {
    width: 500px;
    height: 30px;
    border-color: $color;
}